<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Timers Are Amazing!</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css"> -->
  </head>
  <body>
    <span id="main">00:00</span>
    <p>{{fortune}}</p>
    <h1>Can we go faster...? :-)</h1>

<style>
body {
  /*margin: 1em 0em 0em 20%;*/
  margin: 1em;
  border: 40px solid blue;
  border-radius: 40px;
  /*margin-left: 30px;*/
  min-height: 100%;
  margin-top:10px;
}
#main {
  font-size: 5em;
  padding: 5%;
}
</style>
<!-- https://github.com/ideaq/faster -->
<script src="http://192.168.0.27:4242/client.js"></script>
  </body>
</html>
