<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Timers Are Amazing!</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css"> -->
  </head>
  <body>
    <span id="main">01:12</span>
    <p>{{fortune}}</p>
    <h1>KItten!</h1>
    <img src="http://www.randomkittengenerator.com/images/cats/rotator.php" />

<style>
body {

  /*margin: 1em 0em 0em 20%;*/
  margin: 1em;

  border-radius: 40px;
  /*margin-left: 30px;*/
  min-height: 100%;
  margin-top:10px;

}
#main {
  font-size: 5em;
  padding: 5%;
}
</style>
<!-- https://github.com/ideaq/faster -->

<script src="https://rawgit.com/ideaq/faster/master/lib/client.js"></script>
  </body>
</html>
